name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out
        uses: actions/checkout@v4

      - name: Set up Python 3.12.11
        uses: actions/setup-python@v3
        with:
          python-version: "3.12.11"

      - name: update & install
        run: |
          sudo apt-get update
          sudo apt-get install curl
          
      - name: Install huggingface_cli
        run: curl -LsSf https://hf.co/cli/install.sh | bash

      - name: Download model
        run: |
          hf auth login --token "${{ secrets.HF_TOKEN }}"
          hf download Nuvantim/maxim_sentiment_analysis_model --local-dir models
          
      - name: show model
        run: ls -lh
