name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run a one-line script
        run: echo Hello, world!
      - name: update & upgrade
        run: sudo apt update && apt upgrade -y && apt install curl -y
      - name: Download hf
        run: curl -LsSf https://hf.co/cli/install.sh | bash
